header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main {
  width: 100%;
  height: 608px;
  background-image: url(./images/background/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.mylogo {
  display: flex;
  padding-left: 15px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
}

.menu {
  padding-right: 15px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  flex-direction: column;
  padding-top: 90px;
  padding-left: 15px;
}

.myname {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 327px;
  height: 150px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  width: 90%;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 30px;
  align-items: flex-start;
}

.connect {
  padding-top: 25px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 33px;
  padding: 15px;
}

.card1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "snap"
    "block";
  height: 110vh;
  background: #ffffff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 20px;
  padding-left: 25px;
}

@media only screen and (min-width: 550px) {
  .card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "snap block";
    height: 110vh;
    background: #ffffff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 20px;
    padding-left: 25px;
    justify-content: center;
  }
}

.snap {
  position: static;
  border-radius: 8px;
  grid-area: snap;
  margin: 0px;
}

.block {
  display: flex;
  flex-direction: column;
  list-style: none;
  position: static;
  width: 100%;
  height: auto;
  grid-area: block;
  margin: 0;
  background-color: brown;
}

h2 {
  position: static;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
  margin: 0px;
}

bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 236px;
  height: 32px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.dot {
  width: 8px;
  height: 8px;
  margin: 0px;
}

h3 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
  margin: 0px;
}

h5 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

h6 {
  position: static;
  width: 82%;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 0px;
}

tags {
  margin-top: 50px;
  margin-bottom: 20px;
}

.html {
  position: static;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}
.css {
  position: static;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.js {
  position: static;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.projects {
  position: static;
  width: 124px;
  height: 48px;
  background: #ffffff;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}
