body {
  background: #e5e5e5;
  margin: 1px;
}

* {
  box-sizing: border-box;
}

.page1 {
  background-image: url(./images/background/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > div {
  display: none;
}

.main {
  width: 100%;
  height: 610px;
}

.mylogo {
  display: flex;
  padding-left: 15px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  align-items: center;
  color: #6070ff;
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    transform: rotate(360deg);
  }
}

.menu {
  padding-right: 15px;
}

.info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  list-style: none;
  flex-direction: column;
  padding-top: 90px;
  padding-left: 15px;
}

.myname {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 327px;
  height: 150px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.intro {
  width: 90%;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  padding-top: 30px;
  align-items: flex-start;
}

.connect {
  padding-top: 25px;
  font-family: poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170px;
  height: 33px;
  padding: 15px;
}

.snap {
  position: static;
  border-radius: 8px;
  grid-area: snap;
  transition: transform 2s;
}

.snap:hover {
  transform: scale(1.05);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  position: static;
  grid-area: block;
  width: 285px;
  height: 288px;
  order: 1;
  padding: 1px;
}

.h9 {
  position: static;
  width: 295px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  color: #172b4d;
}

.bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 236px;
  height: 32px;
  margin-bottom: 5px;
}

.dot {
  width: 8px;
  height: 8px;
}

h3 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #344563;
}

h5 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  color: #7a869a;
}

h6 {
  position: static;
  width: 82%;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #344563;
  margin: 1px;
}

.tags {
  margin-top: 15px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.html {
  /* position: static; */
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
  float: right;
}

.css {
  position: static;
  width: 45px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.js {
  position: static;
  width: 89px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  border: 1px solid #ebebff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.projects {
  position: static;
  width: 124px;
  height: 48px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid #6070ff;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.cards1 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "snap"
    "block";
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 16px;
  position: static;
  width: 88%;
  height: 552px;
  margin: auto;
  left: calc(50% - 327px / 2);
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 88px;
}

.cards2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  grid-template-areas:
    "snap"
    "block";
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  padding: 16px;
  position: static;
  width: 88%;
  height: 596px;
  margin: auto;
  left: calc(50% - 327px / 2);
  background: #fff;
  border: 1px solid #dfe1e6;
  box-sizing: border-box;
  border-radius: 16px;
  margin-top: 88px;
  padding-bottom: 50px;
}

.cards3 {
  display: none;
}

.cards4 {
  display: none;
}

.about {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "top"
    "skills";
  justify-items: center;
  height: 1125.15px;
  margin-top: 80px;
  background: url(./images/background/Baself.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  list-style: none;
  position: static;
  grid-area: top;
  width: 327px;
  height: 440px;
  margin-top: 120px;
}

.welcome {
  position: static;
  width: 300px;
  height: 144px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin-top: 20px;
  margin-bottom: 20px;
}

.myself {
  position: static;
  width: 250px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.icon {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  position: static;
  width: 200px;
  height: 40px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: static;
  width: 327px;
  height: 464.15px;
  grid-area: skills;
  list-style: none;
}

h2 {
  position: static;
  width: 130px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.form-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url(./images/background/Contactcolor.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.form-section > h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 801px;
  text-align: center;
  margin-top: 120px;
  margin-bottom: 20px;
}

.form-section > p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 327px;
  height: 170px;
  text-align: center;
  color: #ebebff;
  transition: transform 2s;
}

.form-section > p:hover {
  transform: translate(10%);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 380px;
}

.input1 {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  color: #172b4d;
  width: 327px;
  height: 48px;
}

.message {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
  width: 327px;
  height: 170px;
}

.message ::placeholder {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 140px;
  height: 48px;
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  background-color: #fff;
  margin-top: 10px;
}

.dash {
  border: 2px solid #0d151e;
  border-radius: 10px;
  background-color: #0d151e;
  width: 134px;
  margin-top: 40px;
  margin-bottom: 10px;
}

.resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: static;
  width: 162px;
  height: 48px;
  top: calc(50% - 48px / 2 + 180.5px);
  border: 1px solid #6070ff;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  color: #396df2;
  background-color: #fff;
}

button:hover:enabled {
  color: #fff;
  background: #6070ff;
}

button:active:enabled {
  background: #fff;
  color: #6070ff;
}

.lang {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 303px;
  height: 72px;
}

.jscr {
  display: flex;
  align-items: center;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  flex: none;
}

.ht {
  display: flex;
  align-items: center;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 20px;
}

.cs {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: static;
  width: 303px;
  height: 66.72px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-top: 20px;
}

.fw {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 303px;
  height: 72px;
  margin-top: 10px;
}

.sk {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: static;
  width: 303px;
  height: 72px;
}

.h7 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  height: 24px;
  font-weight: 500;
  font-size: 20px;
  align-items: center;
  color: #000;
}

.h8 {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  align-items: center;
  color: #253858;
  margin-left: 20px;
}

.ic {
  margin-left: 10px;
}

.dash1 {
  border: 1px solid #dfe1e6;
  border-radius: 10px;
  background-color: #dfe1e6;
  width: 303px;
}

@media only screen and (min-width: 768px) {
  .page1 {
    background-image: url(./images/background/shape-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .menu {
    display: none;
  }

  header > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 60px;
    width: 250px;
  }

  header > div > h2 {
    display: flex;
    font-family: Poppins, sans-serif;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
  }

  .mylogo {
    padding-left: 60px;
  }

  .main {
    width: 100%;
    height: 916px;
  }

  .myname {
    padding-top: 50px;
    padding-left: 100px;
    width: 45%;
  }

  .intro {
    padding-left: 100px;
    width: 750px;
  }

  .connect {
    padding-left: 100px;
    padding-top: 10px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    width: 280px;
    height: 33px;
    padding-left: 110px;
    padding-top: 1px;
  }

  .cards1 {
    display: none;
  }

  .cards2 {
    display: none;
  }

  .cards3 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "snap block";
    width: 94%;
    height: 390px;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    gap: 30px;
    padding: 16px;
    margin: auto;
    margin-top: 88px;
  }

  .cards4 {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "block snap";
    width: 94%;
    height: 390px;
    background: #fff;
    border: 1px solid #dfe1e6;
    box-sizing: border-box;
    border-radius: 16px;
    gap: 30px;
    padding: 16px;
    margin: auto;
    margin-top: 88px;
  }

  .snap {
    width: 100%;
    height: 91%;
  }

  .block {
    width: 100%;
    height: 91%;
  }

  h6 {
    width: 97%;
  }

  .h9 {
    width: 100%;
  }

  .ruby {
    position: static;
    width: 105px;
    height: 24px;
    background: #ebebff;
    border-radius: 8px;
    border: 1px solid #ebebff;
    font-family: Poppins, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: #6070ff;
  }

  .about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "top skills";
    justify-content: center;
    justify-items: flex-start;
    align-items: center;
    padding-top: 40px;
    padding-left: 30px;
    background: url(./images/background/background-shape-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
  }

  .top {
    margin: 1px;
    width: 100%;
  }

  .skills {
    width: 100%;
    margin: 1px;
    padding: 1px;
  }

  .welcome {
    width: 86%;
    height: 100px;
  }

  .icon {
    margin-top: 1px;
  }

  .boxs {
    display: flex;
    justify-content: space-between;
    width: 75%;
  }

  .lang {
    width: 85%;
  }

  .fw {
    width: 85%;
  }

  .sk {
    width: 85%;
  }

  .dash1 {
    width: 85%;
  }

  .jscr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: static;
    width: 120px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 1px;
  }

  .ht {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: static;
    width: 120px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 1px;
  }

  .cs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: static;
    width: 120px;
    height: 120px;
    background: #f7f7f9;
    border-radius: 8px;
    margin: 1px;
  }

  .ic {
    margin: 1px;
    margin-left: 10px;
  }

  .h8 {
    margin: 1px;
    margin-left: 10px;
  }

  .form-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./images/background/010.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  .form-section > p {
    width: 550px;
    height: 102px;
  }

  .form {
    align-items: center;
  }
}
